.header{
    background-color: turquoise;
    height:200px;
    display:flex;
    margin:0;
    padding:10px;
    justify-content:space-between;
    align-items:center;
}

.container{
    display:flex;
    align-items:center;
    gap:10px;
}

.box{
    background-color: black;
    height:30px;
    width:30px;
}

.sidebar{
    background-color:yellowgreen;
    height:300px;
    width:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.impressum{
    background-color:purple;
    position:absolute;
    height:69px;
    width:69px;
    right:0;
    bottom:0;
}



     